.horizontal-scroll {
  scrollbar-color: transparent transparent;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item figcaption {
  color: white;
  position: absolute;
  bottom: 0;
  background-color: #070f18;
  opacity: 90%;
  width: 100%;
  padding: 3rem;
  text-align: center;
  transition: all 0.3s;
}

